div.codeblock {
    --indentation: 3ch;

    .label,
    .block {
        > * {
            white-space: pre;
        }
    }

    & + & {
        margin-top: .25em;
    }

    .block {
        margin-left: var(--indentation);
        white-space: inherit;
    }
}