@media screen and (min-width: $large-breakpoint) {
    :root {
        --summary-width: 220px;
    }
    body {
        grid-template-columns: var(--summary-width) auto;
        grid-template-areas: "summary app";
    }
}