@import url('../images/fonts/css/mb.css');

html {
	height: 100%;
	font-size: var(--font-size);
	scroll-behavior: smooth;
}

body {
	margin: 0;
	min-height: 100%;
	font-family: var(--font-global);
	display: grid;
	grid-template-columns: auto;
	grid-template-areas: "app";
}

*, ::before, ::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
@import "app";
@media all {

	body.videos #app nav a#mnu_videos::before {
		content: "☑";
	}
	h1, h2, h3, h4, h5, h6 {
		font-family: var(--font-title);
	}

	@import "languages";

	span,
	code, em, strong {

		&.view,
		&.file,
		&.string,
		&.blade,
		&.command,
		&.php,
		&.controller {
			--padding: .2em 1ch;
		}

	}

	ol,
	ul {
		margin: 0;
	}

	.folded {
		opacity: .3;
		border-bottom: 2px dotted rgba(0, 0, 0, .3);

		& ~ * {
			display: none;
		}
	}

	a[href^="https://youtu.be/"] {
		float: right;
	}

	a[href="https://youtu.be"],
	a[href="https://youtu.be/"] {
		opacity: .2;
		filter: grayscale(100%);
		pointer-events: none;
	}

	@import "codeblock";

	a {
		color: inherit;
	}

	[data-definition] {
		text-decoration: underline wavy;
		position: relative;
		cursor: help;

		&::before {
			content: attr(data-definition);
			visibility: hidden;
			opacity: 0;
			transform: scale(0);
			background-color: #f0ffff;
			border: 2px solid hsl(180, 50%, 50%);
			color: black;
			position: absolute;
			width: 20ch;
			font-family: serif;
			padding: .25em .4em;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			white-space: normal;
			bottom: 100%;
			border-radius: .75em .75em .75em 0;
			box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5), 1px 1px rgba(0, 0, 0, 0.5) inset;
			transform-origin: left bottom;
			transition-property: visibility, opacity, transform;
			transition-delay: 0s;
			transition-duration: 1s, 1s, 1s;
		}
	}

	.youtube {
		text-decoration: none;
		font-size: smaller;
		color: rgba(0, 0, 0, .5);

		& > span {
			font-size: 1rem;

		}
	}
}
@import "div-body";
@media screen {
	body {
		background-color: hsl(var(--hue), var(--sat), 27%);
		color: white;
	}

	body.videos div.body iframe {
		display: block;
	}

	.youtube > span {
		display: none;
	}
}

[download] {
	&::after {
		content: "";
		background-image: url(images/icone_download.svg);
		background-size: contain;
		width: 1em;
		height: 1em;
	}
}


@media screen and (max-width: 800px) {
	#app {
		width: 50ch;
	}
}

@media print {
	@page {
		size: 8.5in 11in;
		margin: .5in;
	}

	#app > footer {
		display: none;
	}

	nav {
		display: none;
	}

	.youtube > img {
		display: none;
	}

	.codeblock,
	.command,
	.string,
	.php,
	.view,
	.blade,
	.controller {
		background-color: transparent;
		color: black;
		border-color: hsl(0, 0%, 90%);
	}

	div.codeblock {
		padding-left: 3ch;
	}

	// .copyable .icon {
	// 	display: none;
	// }
}

@import "copyable";
@import "summary";