@import url('../images/fonts/css/mb.css');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700');



@media all {
	html {
		height: 100%;
		font-size: var(--font-size);
	}

	body {
		margin: 0;
		height: 100%;
		font: var(--font-global);
	}

	body.videos #app nav a#mnu_videos::before {
		content: "☑";
	}

	:target {
		background-color: #eee;
	}

	div.body {
		padding: 1em;

		& nav {
			padding: 1ch;

			ol {
				font-size: smaller;
				column-count: 2;
				padding: 0;

				li {
					margin: 0;
					padding: 0;
					margin-left: 2ch;
				}
			}
		}
	}

	a[href="#summary"] {
		color: rgba(0, 0, 0, 1);
		opacity: .2;
		text-decoration: none;
		font-size: 1rem;
		transition: .3s;

		:hover > & {
			opacity: 1;
		}
	}

	#app {
		min-width: 30em;
		max-width: 50em;
		min-height: 100%;
		margin: 0 auto;

		& > header,
		& > footer {
			background-color: black;
			color: white;
			text-align: center;
			padding: 1em;
		}
	}

	.view {
		--hue: 302;
		@include box;
		color: hsl(var(--hue), 100%, 20%);
	}

	span,
	code, em, strong {

		&.view,
		&.file,
		&.string,
		&.blade,
		&.command,
		&.php,
		&.controller {
			--padding: .2em 1ch;
		}

	}

	.controller {
		--hue: 120;
		--lum: 95%;
		@include box;
		color: hsl(var(--hue), 100%, 30%);
	}

	.file {
		--hue: 0;
		--sat: 0%;
		--lum: 95%;
		@include box;
	}

	.string {
		@include box;
		background-color: hsl(34, 100%, 100%);
		color: hsl(34, 100%, 46%);
		border-color: hsl(34, 100%, 90%);
	}

	ol,
	ul {
		margin: 0;
	}

	div.body {
		& > ol > li {
			padding: 1ch;
		}

		iframe {
			display: block;
			margin: 0 auto;
			display: none;
		}

		ol {
			padding-left: 2ch;
		}

		li {
			padding: .5em 0; //		margin: .5em 0;

			p {
				margin: 0;
			}
		}

		& > ol ol {
			list-style-type: lower-alpha;
		}

		ol ol > li {
			page-break-inside: avoid;

			& + li {
				border-top: 1px solid rgba(0, 0, 0, 0.1);
			}
		}
	}

	h2 {
		margin: 0; //	cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 48 48' width='24' height='24'><g id='cote'><path d='m4 18h40v4h-40z'/><path d='m20 0-2 8h-6l12 12 12-12h-6l-2-8z'/></g><use xlink:href='#cote' transform='matrix(1,0,0,-1,0,46)'/></svg>"), auto;
		//	cursor: url("curseur2.svg"), auto;
	}

	.folded {
		opacity: .3;
		border-bottom: 2px dotted rgba(0, 0, 0, .3);

		& ~ * {
			display: none;
		}
	}

	.command {
		--hue: 240;
		--lum: 30%;
		@include box;
		color: hsl(240, 100%, 100%);
	}

	a[href^="https://youtu.be/"] {
		float: right;
	}

	a[href="https://youtu.be"],
	a[href="https://youtu.be/"] {
		opacity: .2;
		filter: grayscale(100%);
		pointer-events: none;
	}

	.codeblock,
	.php,
	.blade {

		em,
		samp,
		del {
			//			opacity: .5;
			color: rgba(255, 255, 255, .5);

			b,
			em {
				color: white;
			}
		}
	}

	@import "codeblock";

	a {
		color: inherit;
	}

	.php {
		@include box;
		--hue: 200;
		--lum: 40%;
		color: hsl(200, 100%, 100%);
	}

	.blade {
		@include box;
		--hue: 330;
		--lum: 40%;
		// background-color: hsl(330, 70%, 40%);
		// border-color: hsl(330, 0%, 0%);
		color: hsl(330, 100%, 100%);
	}

	.codeblock:hover {
		[data-definition] {

			// &:before {
			//			opacity: 1;
			//			visibility: visible;
			//			transition-delay: 2s;
			//			transition-duration: 0s, .1s;
			// }
			&:hover {
				&:before {
					opacity: 1;
					visibility: visible;
					transform: scale(1);
					transition-delay: .5s;
					transition-duration: 0s, .2s, .2s;
				}
			}
		}
	}

	// .codeblock {}
	[data-definition] {
		text-decoration: underline wavy;
		position: relative;
		cursor: help;

		&:before {
			visibility: hidden;
			opacity: 0;
			transform: scale(0);
			content: attr(data-definition);
			background-color: #f0ffff;
			border: 2px solid hsl(180, 50%, 50%);
			color: black;
			position: absolute;
			width: 20ch;
			font-family: serif;
			padding: .25em .4em;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			white-space: normal;
			bottom: 100%;
			border-radius: .75em .75em .75em 0;
			box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5), 1px 1px rgba(0, 0, 0, 0.5) inset;
			transform-origin: left bottom;
			transition-property: visibility, opacity, transform;
			transition-delay: 0s;
			transition-duration: 1s, 1s, 1s;
		}
	}

	.youtube {
		text-decoration: none;
		font-size: smaller;
		color: rgba(0, 0, 0, .5);

		& > span {
			font-size: 1rem;

		}
	}
}

@media screen {
	body {
		background-color: hsl(var(--hue), var(--sat), 27%);
		color: white;
	}

	body.videos div.body iframe {
		display: block;
	}

	#app {
		@include module;
		background-color: white;
		color: black;
	}

	.youtube > span {
		display: none;
	}
}

[download] {
	&::after {
		content: "";
		background-image: url(images/icone_download.svg);
		background-size: contain;
		width: 1em;
		height: 1em;
	}
}


@media screen and (max-width: 800px) {
	#app {
		width: 50ch;
	}

	div.codeblock .label > * {
		white-space: normal !important;
	}
}

@media print {
	@page {
		size: 8.5in 11in;
		margin: .5in;
	}

	#app > footer {
		display: none;
	}

	nav {
		display: none;
	}

	.youtube > img {
		display: none;
	}

	.codeblock,
	.command,
	.string,
	.php,
	.view,
	.blade,
	.controller {
		background-color: transparent;
		color: black;
		border-color: hsl(0, 0%, 90%);
	}

	div.codeblock {
		padding-left: 3ch;
	}

	// .copiable .icon {
	// 	display: none;
	// }
	div.body ol ol li {
		border: none !important;
		margin-top: 0;
		margin-bottom: 0;
		padding-top: 0;
		padding-bottom: 0;
	}

	div.body .codeblock dfn {
		text-decoration: none;
		font-style: normal;
	}
}

@import "copiable";