@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700");
:root {
  --hue: 200;
  --sat: 50%;
  --lum: 0%;
  --font-global: normal normal normal 12pt/1 "Josefin Sans";
  --font-code: normal normal normal .85em/1.2 "Anonymous Pro";
  font: var(--font-global);
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-color: hsl(var(--hue), var(--sat), 100%);
  color: hsl(var(--hue), var(--sat), 0%);
  color: black;
}

a {
  color: inherit;
  text-decoration: inherit;
}
a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 0.9em;
}

#app {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}
#app > header, #app > footer {
  background-color: hsl(var(--hue), var(--sat), 20%);
  color: hsl(var(--hue), var(--sat), 100%);
  padding: 0.5em;
}
#app > header {
  -webkit-box-ordinal-group: -99;
      -ms-flex-order: -100;
          order: -100;
}
#app > header h1 {
  font-size: 1.5em;
}
#app > header h2 {
  font-size: 1.3em;
}
#app > header img {
  width: 2in;
  display: block;
  margin: 0 auto;
}
#app > footer {
  -webkit-box-ordinal-group: 101;
      -ms-flex-order: 100;
          order: 100;
}
#app > nav {
  -webkit-box-ordinal-group: -9;
      -ms-flex-order: -10;
          order: -10;
}
#app > .body {
  padding: 1em;
}

.file {
  --hue: 0;
  --sat: 50%;
  --lum: 1;
  font: var(--font-code);
  padding: 0 0.5ch;
  color: hsl(var(--hue), var(--sat), calc(50% + (var(--lum)*.9*50%)));
  fill: hsl(var(--hue), var(--sat), calc(50% + (var(--lum)*.9*50%)));
  background-color: hsl(var(--hue), var(--sat), calc(60% - (var(--lum)*.8*40%)));
  border: 1px solid hsl(var(--hue), var(--sat), 30%);
  white-space: nowrap;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  --sat: 0%;
  --hue: 0;
  --lum: -1;
}

.view {
  --hue: 0;
  --sat: 50%;
  --lum: 1;
  font: var(--font-code);
  padding: 0 0.5ch;
  color: hsl(var(--hue), var(--sat), calc(50% + (var(--lum)*.9*50%)));
  fill: hsl(var(--hue), var(--sat), calc(50% + (var(--lum)*.9*50%)));
  background-color: hsl(var(--hue), var(--sat), calc(60% - (var(--lum)*.8*40%)));
  border: 1px solid hsl(var(--hue), var(--sat), 30%);
  white-space: nowrap;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  --hue: -200;
  --lum: -1;
}

.string {
  --hue: 0;
  --sat: 50%;
  --lum: 1;
  font: var(--font-code);
  padding: 0 0.5ch;
  color: hsl(var(--hue), var(--sat), calc(50% + (var(--lum)*.9*50%)));
  fill: hsl(var(--hue), var(--sat), calc(50% + (var(--lum)*.9*50%)));
  background-color: hsl(var(--hue), var(--sat), calc(60% - (var(--lum)*.8*40%)));
  border: 1px solid hsl(var(--hue), var(--sat), 30%);
  white-space: nowrap;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  --hue: 60;
  --lum: -1;
}

.php {
  --hue: 0;
  --sat: 50%;
  --lum: 1;
  font: var(--font-code);
  padding: 0 0.5ch;
  color: hsl(var(--hue), var(--sat), calc(50% + (var(--lum)*.9*50%)));
  fill: hsl(var(--hue), var(--sat), calc(50% + (var(--lum)*.9*50%)));
  background-color: hsl(var(--hue), var(--sat), calc(60% - (var(--lum)*.8*40%)));
  border: 1px solid hsl(var(--hue), var(--sat), 30%);
  white-space: nowrap;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  --hue: 180;
  --lum: 1;
}

.blade {
  --hue: 0;
  --sat: 50%;
  --lum: 1;
  font: var(--font-code);
  padding: 0 0.5ch;
  color: hsl(var(--hue), var(--sat), calc(50% + (var(--lum)*.9*50%)));
  fill: hsl(var(--hue), var(--sat), calc(50% + (var(--lum)*.9*50%)));
  background-color: hsl(var(--hue), var(--sat), calc(60% - (var(--lum)*.8*40%)));
  border: 1px solid hsl(var(--hue), var(--sat), 30%);
  white-space: nowrap;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  --hue: 300;
  --lum: 1;
}

.command {
  --hue: 0;
  --sat: 50%;
  --lum: 1;
  font: var(--font-code);
  padding: 0 0.5ch;
  color: hsl(var(--hue), var(--sat), calc(50% + (var(--lum)*.9*50%)));
  fill: hsl(var(--hue), var(--sat), calc(50% + (var(--lum)*.9*50%)));
  background-color: hsl(var(--hue), var(--sat), calc(60% - (var(--lum)*.8*40%)));
  border: 1px solid hsl(var(--hue), var(--sat), 30%);
  white-space: nowrap;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  --hue: 240;
  --sat: 100%;
  --lum: 1;
}

.controller {
  --hue: 0;
  --sat: 50%;
  --lum: 1;
  font: var(--font-code);
  padding: 0 0.5ch;
  color: hsl(var(--hue), var(--sat), calc(50% + (var(--lum)*.9*50%)));
  fill: hsl(var(--hue), var(--sat), calc(50% + (var(--lum)*.9*50%)));
  background-color: hsl(var(--hue), var(--sat), calc(60% - (var(--lum)*.8*40%)));
  border: 1px solid hsl(var(--hue), var(--sat), 30%);
  white-space: nowrap;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  --hue: 120;
  --sat: 100%;
  --lum: 1;
}

.copiable svg {
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.3, 2, 0.7, 2);
          transition-timing-function: cubic-bezier(0.3, 2, 0.7, 2);
  -webkit-transform: scale(1);
          transform: scale(1);
}
.copiable svg:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  fill: yellow;
}

.copiable.codeblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.copiable.codeblock {
  position: relative;
}
.copiable.codeblock svg {
  position: absolute;
  right: 0;
  bottom: 0.5em;
}
/*# sourceMappingURL=tuteos.css.map */