@charset "UTF-8";
@import url("images/fonts/css/mb.css");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700");
root {
  --font-global: normal normal normal e("16px/1") "Josefin Sans";
  --font-code: normal normal normal e(".85em/1.2") "Anonymous Pro";
}

@media all {
  html {
    height: 100%;
  }

  body {
    margin: 0;
    height: 100%;
    font: var(--font-global);
  }

  body.videos #app nav a#mnu_videos::before {
    content: "☑";
  }

  :target {
    background-color: #eee;
  }

  /*Just for icons look*/
  span.icon {
    line-height: 1;
    cursor: pointer;
    opacity: 0.5;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transform: scale(1);
            transform: scale(1);
    z-index: 10000;
  }
  :hover > span.icon {
    opacity: 1;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  span.copiable > span.icon {
    float: left;
    margin-right: 0.5ch;
    line-height: 1em;
    -webkit-transform-origin: right center;
            transform-origin: right center;
  }
  span.icon .tag {
    position: absolute;
    z-index: 1000;
    left: -1em;
    right: -1em;
    -webkit-transition-delay: 250ms;
            transition-delay: 250ms;
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    -webkit-transition-duration: 200ms;
            transition-duration: 200ms;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 0;
    bottom: 0;
  }
  span.icon .tag.out {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  span.icon .zzztag {
    background-color: red;
    border: 1px solid white;
    border-radius: 100%;
    color: white;
    font-weight: bold;
    -webkit-box-shadow: 1px 1px black;
            box-shadow: 1px 1px black;
    font-size: 0.5em;
  }
  span.icon .tag {
    background-color: rgba(0, 0, 0, 0.5);
    font-family: arial;
    font-weight: bold;
    font-size: 0.5em;
  }

  div.body {
    padding: 1em;
  }
  div.body nav {
    padding: 1ch;
  }
  div.body nav ol {
    font-size: smaller;
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
    padding: 0;
  }
  div.body nav ol li {
    margin: 0;
    padding: 0;
    margin-left: 2ch;
  }

  a[href="#summary"] {
    color: black;
    opacity: 0.2;
    text-decoration: none;
    font-size: 1rem;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  :hover > a[href="#summary"] {
    opacity: 1;
  }

  #app {
    width: 70ch;
    min-height: 100%;
    margin: 0 auto;
  }
  #app > header, #app > footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1em;
  }

  .box {
    font: var(--font-code);
    padding: 0 0.5ch;
    background-color: #f2f2f2;
    border: 1px solid #e6e6e6;
    white-space: nowrap;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .view {
    font: var(--font-code);
    padding: 0 0.5ch;
    background-color: #f2f2f2;
    border: 1px solid #e6e6e6;
    white-space: nowrap;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #ffe6fe;
    border-color: #ffccfd;
    color: #660063;
  }

  .controller {
    font: var(--font-code);
    padding: 0 0.5ch;
    background-color: #f2f2f2;
    border: 1px solid #e6e6e6;
    white-space: nowrap;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #e6ffe6;
    border-color: #ccffcc;
    color: #009900;
  }

  .file {
    font: var(--font-code);
    padding: 0 0.5ch;
    background-color: #f2f2f2;
    border: 1px solid #e6e6e6;
    white-space: nowrap;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .string {
    font: var(--font-code);
    padding: 0 0.5ch;
    background-color: #f2f2f2;
    border: 1px solid #e6e6e6;
    white-space: nowrap;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: white;
    color: #eb8500;
    border-color: #ffe9cc;
  }

  ol,
ul {
    margin: 0;
  }

  div.body > ol > li {
    padding: 1ch;
  }
  div.body iframe {
    display: block;
    margin: 0 auto;
    display: none;
  }
  div.body ol {
    padding-left: 2ch;
  }
  div.body li {
    padding: 0.5em 0;
  }
  div.body li p {
    margin: 0;
  }
  div.body > ol ol {
    list-style-type: lower-alpha;
  }
  div.body ol ol > li {
    page-break-inside: avoid;
  }
  div.body ol ol > li + li {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  .copiable {
    position: relative;
  }
  .copiable .label {
    overflow: hidden;
  }

  h2 {
    margin: 0;
  }

  .folded {
    opacity: 0.3;
    border-bottom: 2px dotted rgba(0, 0, 0, 0.3);
  }
  .folded ~ * {
    display: none;
  }

  .command {
    font: var(--font-code);
    padding: 0 0.5ch;
    background-color: #f2f2f2;
    border: 1px solid #e6e6e6;
    white-space: nowrap;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    background-color: #3232c3;
    border-color: black;
    color: white;
  }
  .command .label {
    overflow: hidden;
  }

  a[href^="https://youtu.be/"] {
    float: right;
  }

  a[href="https://youtu.be"],
a[href="https://youtu.be/"] {
    opacity: 0.2;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    pointer-events: none;
  }

  .codeblock em,
.codeblock samp,
.codeblock del,
.php em,
.php samp,
.php del,
.blade em,
.blade samp,
.blade del {
    color: rgba(255, 255, 255, 0.5);
  }
  .codeblock em b, .codeblock em em,
.codeblock samp b,
.codeblock samp em,
.codeblock del b,
.codeblock del em,
.php em b,
.php em em,
.php samp b,
.php samp em,
.php del b,
.php del em,
.blade em b,
.blade em em,
.blade samp b,
.blade samp em,
.blade del b,
.blade del em {
    color: white;
  }

  div.codeblock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1ch;
    padding-right: 0ch;
  }
  div.codeblock .label > * {
    white-space: pre;
  }
  div.codeblock .icon {
    position: absolute;
    right: 0.3ch;
    bottom: 0.5ch;
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
  }
  div.codeblock + div.codeblock {
    margin-top: 0.25em;
  }

  a {
    color: inherit;
  }

  .php {
    font: var(--font-code);
    padding: 0 0.5ch;
    background-color: #f2f2f2;
    border: 1px solid #e6e6e6;
    white-space: nowrap;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #1f7ead;
    border-color: black;
    color: white;
  }

  .blade {
    font: var(--font-code);
    padding: 0 0.5ch;
    background-color: #f2f2f2;
    border: 1px solid #e6e6e6;
    white-space: nowrap;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #ad1f66;
    border-color: black;
    color: white;
  }

  .codeblock:hover [data-definition]:hover:before {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
    -webkit-transition-duration: 0s, 0.2s, 0.2s;
            transition-duration: 0s, 0.2s, 0.2s;
  }

  [data-definition] {
    -webkit-text-decoration: underline wavy;
            text-decoration: underline wavy;
    position: relative;
    cursor: help;
  }
  [data-definition]:before {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
    content: attr(data-definition);
    background-color: #f0ffff;
    border: 2px solid #40bfbf;
    color: black;
    position: absolute;
    width: 20ch;
    font-family: serif;
    padding: 0.25em 0.4em;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    white-space: normal;
    bottom: 100%;
    border-radius: 0.75em 0.75em 0.75em 0;
    -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5), 1px 1px rgba(0, 0, 0, 0.5) inset;
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5), 1px 1px rgba(0, 0, 0, 0.5) inset;
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
    -webkit-transition-property: visibility, opacity, -webkit-transform;
    transition-property: visibility, opacity, -webkit-transform;
    transition-property: visibility, opacity, transform;
    transition-property: visibility, opacity, transform, -webkit-transform;
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
    -webkit-transition-duration: 1s, 1s, 1s;
            transition-duration: 1s, 1s, 1s;
  }

  .youtube {
    text-decoration: none;
    font-size: smaller;
    color: rgba(0, 0, 0, 0.5);
  }
  .youtube > span {
    font-size: 1rem;
  }
}
@media screen {
  body {
    background-color: #345;
    color: white;
  }

  body.videos div.body iframe {
    display: block;
  }

  #app {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: white;
    color: black;
  }
  #app header {
    -webkit-box-ordinal-group: -999;
        -ms-flex-order: -1000;
            order: -1000;
  }
  #app header * {
    margin: 0;
    padding: 0;
  }
  #app footer {
    -webkit-box-ordinal-group: 1001;
        -ms-flex-order: 1000;
            order: 1000;
  }

  .youtube > span {
    display: none;
  }
}
[download]::after {
  content: "";
  background-image: url(images/icone_download.svg);
  background-size: contain;
  width: 1em;
  height: 1em;
}

@media screen and (max-width: 800px) {
  #app {
    width: 50ch;
  }

  div.codeblock .label > * {
    white-space: normal !important;
  }
}
@media print {
  @page {
    size: 8.5in 11in;
    margin: 0.5in;
  }
  #app > footer {
    display: none;
  }

  nav {
    display: none;
  }

  .youtube > img {
    display: none;
  }

  .codeblock,
.command,
.string,
.php,
.view,
.blade,
.controller {
    background-color: transparent;
    color: black;
    border-color: #e6e6e6;
  }

  div.codeblock {
    padding-left: 3ch;
  }

  .copiable .icon {
    display: none;
  }

  div.body ol ol li {
    border: none !important;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  div.body .codeblock dfn {
    text-decoration: none;
    font-style: normal;
  }
}
/*# sourceMappingURL=tuteos.css.map */